@model BookOrganizer.UI.Web.Models.AuthorDetailViewModel
@{
    ViewData["Title"] = $"{Model.SelectedItem.LastName}, {Model.SelectedItem.FirstName}";
}

<div style="position:absolute;opacity:0.9;width:auto;left:8px;right:10px;">
    <div>
        @Html.ActionLink("Edit", "Edit", new { Id = Model.SelectedItem.Id })

        <div class="gridwrapper" style="height:auto;">
            <div class="gridcontent" style="background-color:#ffffff;border:none;width:25%;padding-top:15px;">
                <div style="border:none;width:100%;height:92%;">
                    <img src="@Url.Content($"~/AuthorPics/{Model.GetItemPicture(Model.SelectedItem.MugShotPath)}")" asp-append-version="true">
                </div>
            </div>
            <div class="gridcontent" style="background-color:#ffffff;border:none;width:25%;padding-top:15px;">
                <div style="border:none;width:100%;height:15%;margin-bottom:10px;">
                    @Model.SelectedItem.LastName, @Model.SelectedItem.FirstName
                </div>
                <div style="border:none;width:100%;height:15%;margin-bottom:10px;">
                    @Model.AuthorDOB
                </div>
                <div style="border:none;width:100%;height:15%;margin-bottom:10px;">
                    @Model.Nationality
                </div>
                <div style="border:none;width:100%;height:15%;"></div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="@(Model.ActiveTab == BookOrganizer.UI.Web.Models.Tab.Biography ? "active" : string.Empty)">
                <a asp-route-id="@Model.SelectedItem.Id" asp-route-tabname="@BookOrganizer.UI.Web.Models.Tab.Biography" asp-action="Details">
                    Biography
                </a>
            </li>
            <li role="presentation" class="@(Model.ActiveTab == BookOrganizer.UI.Web.Models.Tab.Bibliography ? "active" : string.Empty)">
                <a asp-route-id="@Model.SelectedItem.Id" asp-route-tabname="@BookOrganizer.UI.Web.Models.Tab.Bibliography" asp-action="Details">
                    Bibliography
                </a>
            </li>
        </ul>
        <div class="tab-content" role="presentation">
            @switch (Model.ActiveTab)
            {
                case Tab.Biography:
                    @await Component.InvokeAsync("Biography");
                    break;
                case Tab.Bibliography:
                    @await Component.InvokeAsync("Bibliography");
                    break;
                default:
                    break;
            }
        </div>
    </div>
</div>
